{% assign experience = site.data.data.experience %}
{% if experience %}
<section class="experiance">
    <h2 class="title">Experience</h2>
    {% for exp in experience %}
        <div class="experience-item">
            <div class="role">
                {{exp.role}}
            </div>
            <div class="company">
                {{exp.company}} 
                <span class="time">{{exp.time}}</span>
            </div> 
            <div class="details">{{exp.details}}</div>
            <p class="technologies">Technologies Used: {{exp.technologies_used}}</p>
        </div>
       
    {% endfor %}

    This formula $f(x) = x^2$ is an example.

    $$
    \lim_{x\to 0}{\frac{e^x-1}{2x}}
    \overset{\left[\frac{0}{0}\right]}{\underset{\mathrm{H}}{=}}
    \lim_{x\to 0}{\frac{e^x}{2}}={\frac{1}{2}}
    $$
</section>
{% endif %}